@import "../Vars.scss";

.card-container {
  height: 80%;
  width: 80%;
  display: flex;
  float: left;
  article {
    height: 100%;
    width: 100%;
    display: grid;
    @include card-bg;
    grid-template-rows: 15% 60% 25%;
    text-align: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: $corners;
    & > * {
      margin: 0;
    }
    h2 {
      width: 90%;
    }
    figure {
      width: 90%;
    }
    div {
      width: 90%;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
